@import "mixin/_responsive";

html {
  font-size: 62.5%;
}

html, body, h1, h2, h3, h4,
ul, ol, dl, li, dt, dd, p, div, span,
img, a, table, tr, th, td, figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}
body {
  color: #333;
  font-size: 1.8em; // デフォルトの文字サイズを16pxに
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  line-height: 1.6875;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; // iPhoneのフォントサイズ自動調整をオフにする
  width: 100%;
  @include mq-max(w750){
    font-size: 4.27vw;
  }
}
/*IE用のfont-family メイリオを優先する*/
@media all and (-ms-high-contrast:none) {
	body {
		font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  }
}

.wrap{
  overflow: hidden;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #333;
}

a:hover{
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7;
}

img{
  max-width: 100%;
  vertical-align: top;
}

table{
  border-collapse: collapse; // 隙間を無くして一重戦に
}

input,
button,
textarea,
select{
  appearance: none;
  -webkit-appearance: none; // iPhone固有のスタイルを削除
  border-radius: 0; //iPhoneで勝手に角が取れるのを削除
}

input[type="submit"],
button{
  cursor: pointer;
}