.accordion {
  @include _msec(m60);
  &-item {
    box-shadow: 0 3px 6px #00000029;
    margin-top: 15px;
    @include mq-max(w750){
      margin-top: 4%;
    }
  }
  &-title {
    @include _flex;
    align-items: center;
    padding-left: 65px;
    position: relative;
    height: 40px;
    cursor: pointer;
    @include mq-max(w750){
      height: 10.7vw;
      padding-left: 17.3vw;
    }
    &:before {
      @include _flex(center);
      align-items: center;
      background: blue;
      color: #fff;
      content: "Q";
      height: 40px;
      left: 0;
      position: absolute;
      width: 40px;
      @include mq-max(w750){
        height: 10.7vw;
        width: 10.7vw;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: 30px;
      top: 35%;
      transition: all 0.2s ease-in-out;
      display: block;
      width: 8px;
      height: 8px;
      border-top: solid 2px #fff;
      border-right: solid 2px #fff;
      transform: rotate(135deg);
      @include mq-max(w750){
        border-top-width: .53vw;
        border-right-width: .53vw;
        right: 5.33%;
      }
    }
    &.open:after {
      transform: rotate(-45deg);
      top: 45%;
    }
  }
  &-content{
    display: none;
    padding: 6.5px 0 6.5px 65px;
    position: relative;
    @include mq-max(w750){
      height: 10.7vw;
      padding: 1.73vw 0 1.73vw 17.3vw;
    }
    &:before {
      @include _flex(center);
      align-items: center;
      color: #555;
      content: "A";
      height: 40px;
      left: 0;
      position: absolute;
      top: 0;
      width: 40px;
      @include mq-max(w750){
        height: 10.7vw;
        width: 10.7vw;
      }
    }
  }
}
