#drawer {
  &-checkbox {
    display: none;
  }
  &-icon {
    display: inline-block;
    cursor: pointer;
    height: 16vw;
    position: relative;
    top: 1vw;
    width: 16vw;
    z-index: 41;
    span {
      background: #c88d95;
      border-radius: 2px;
      content: "";
      cursor: pointer;
      display: block;
      height: 1.07vw;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease-in-out;
      width: 8vw;
      &:before,
      &:after {
        background: #c88d95;
        border-radius: 2px;
        content: "";
        cursor: pointer;
        display: block;
        height: 1.07vw;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8vw;
        transition: 0.3s ease-in-out;
      }
      &:before {
        top: 2.9vw;
      }
      &:after {
        top: -1.7vw;
      }
    }
  }
  &-content {
    background: #fff;
    height: 100%;
    overflow: auto;
    padding: 21.33% 8% 0 8%;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out 0s;
    width: 60%;
    z-index: 40;
  }
  &-close {
    background: #000;
    display: none;
    height: 100%;
    opacity: 0;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    z-index: 39;
  }
}

.drawer {
  &-wrapper {
    display: none;
    @media all and (max-width: 750px) {
      display: block;
    }
  }
  &-ul {
    li {
      border-bottom: 1px solid #707070;
      padding: 5% 0;
    }
    a {
      font-family: times, sans-serif;
      font-weight: bold;
    }
  }
}

#drawer-checkbox:checked ~ #drawer-icon span {
  background: rgba(51, 51, 51, 0);
}
#drawer-checkbox:checked ~ #drawer-icon span::before,
#drawer-checkbox:checked ~ #drawer-icon span::after {
  background: #c88d95;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  width: 100%;
}
#drawer-checkbox:checked ~ #drawer-icon span::before {
  transform: rotate(-45deg);
}
#drawer-checkbox:checked ~ #drawer-icon span::after {
  transform: rotate(45deg);
}
#drawer-checkbox:checked ~ #drawer-content {
  transform: translateX(0);
  box-shadow: 6px 0 25px rgba(#000, 0.16);
}
#drawer-checkbox:checked ~ #drawer-close {
  display: block;
  opacity: 0.3;
}
