@charset "UTF-8";
@media screen and (max-width: 750px) {
  ._pc {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  ._sp {
    display: none;
  }
}

.br-min320 {
  display: none;
}

@media screen and (min-width: 320px) {
  .br-min320 {
    display: block;
  }
}

.br-min375 {
  display: none;
}

@media screen and (min-width: 375px) {
  .br-min375 {
    display: block;
  }
}

.br-min576 {
  display: none;
}

@media screen and (min-width: 576px) {
  .br-min576 {
    display: block;
  }
}

.br-min650 {
  display: none;
}

@media screen and (min-width: 650px) {
  .br-min650 {
    display: block;
  }
}

.br-min750 {
  display: none;
}

@media screen and (min-width: 750px) {
  .br-min750 {
    display: block;
  }
}

.br-min940 {
  display: none;
}

@media screen and (min-width: 940px) {
  .br-min940 {
    display: block;
  }
}

.br-min1024 {
  display: none;
}

@media screen and (min-width: 1024px) {
  .br-min1024 {
    display: block;
  }
}

.br-min1280 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .br-min1280 {
    display: block;
  }
}

.br-max320 {
  display: none;
}

@media screen and (max-width: 320px) {
  .br-max320 {
    display: block;
  }
}

.br-max375 {
  display: none;
}

@media screen and (max-width: 375px) {
  .br-max375 {
    display: block;
  }
}

.br-max576 {
  display: none;
}

@media screen and (max-width: 576px) {
  .br-max576 {
    display: block;
  }
}

.br-max650 {
  display: none;
}

@media screen and (max-width: 650px) {
  .br-max650 {
    display: block;
  }
}

.br-max750 {
  display: none;
}

@media screen and (max-width: 750px) {
  .br-max750 {
    display: block;
  }
}

.br-max940 {
  display: none;
}

@media screen and (max-width: 940px) {
  .br-max940 {
    display: block;
  }
}

.br-max1024 {
  display: none;
}

@media screen and (max-width: 1024px) {
  .br-max1024 {
    display: block;
  }
}

/* ページ内リンクの位置調整 */
.anchor {
  display: block;
  margin-top: -70px;
  padding-top: 70px;
}

html {
  font-size: 62.5%;
}

html, body, h1, h2, h3, h4,
ul, ol, dl, li, dt, dd, p, div, span,
img, a, table, tr, th, td, figure {
  -webkit-box-sizing: border-box;
  border: 0;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 1.8em;
  line-height: 1.6875;
  width: 100%;
}

@media screen and (max-width: 750px) {
  body {
    font-size: 4.27vw;
  }
}

/*IE用のfont-family メイリオを優先する*/
@media all and (-ms-high-contrast: none) {
  body {
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  }
}

.wrap {
  overflow: hidden;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

input,
button,
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="submit"],
button {
  cursor: pointer;
}

/***************************************
下記の様に記載する
.header{
  &-btn{
    @include _btn;
  }
}
.sec{
  &-btn{
    @include _btn('large');
  }
}
***************************************/
.inner {
  margin: 0 auto;
  max-width: calc(1180px + 100px);
  padding: 0 50px;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .inner {
    padding: 0 4%;
  }
}

.accordion {
  margin: 60px 0 0;
}

@media screen and (max-width: 750px) {
  .accordion {
    margin: 13.3% 0 0;
  }
}

.accordion-item {
  -webkit-box-shadow: 0 3px 6px #00000029;
  box-shadow: 0 3px 6px #00000029;
  margin-top: 15px;
}

@media screen and (max-width: 750px) {
  .accordion-item {
    margin-top: 4%;
  }
}

.accordion-title {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding-left: 65px;
  position: relative;
}

@media screen and (max-width: 750px) {
  .accordion-title {
    height: 10.7vw;
    padding-left: 17.3vw;
  }
}

.accordion-title:before {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background: blue;
  color: #fff;
  content: "Q";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 40px;
}

@media screen and (max-width: 750px) {
  .accordion-title:before {
    height: 10.7vw;
    width: 10.7vw;
  }
}

.accordion-title:after {
  -webkit-transform: rotate(135deg);
  -webkit-transition: all 0.2s ease-in-out;
  border-right: solid 2px #fff;
  border-top: solid 2px #fff;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 30px;
  top: 35%;
  transform: rotate(135deg);
  transition: all 0.2s ease-in-out;
  width: 8px;
}

@media screen and (max-width: 750px) {
  .accordion-title:after {
    border-right-width: .53vw;
    border-top-width: .53vw;
    right: 5.33%;
  }
}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  top: 45%;
  transform: rotate(-45deg);
}

.accordion-content {
  display: none;
  padding: 6.5px 0 6.5px 65px;
  position: relative;
}

@media screen and (max-width: 750px) {
  .accordion-content {
    height: 10.7vw;
    padding: 1.73vw 0 1.73vw 17.3vw;
  }
}

.accordion-content:before {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  color: #555;
  content: "A";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

@media screen and (max-width: 750px) {
  .accordion-content:before {
    height: 10.7vw;
    width: 10.7vw;
  }
}

#pagetop {
  bottom: 5%;
  display: none;
  position: fixed;
  right: 5%;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(10px);
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(10px);
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
    transform: translateY(0%);
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1.2s ease-in;
  animation: fadeIn 1.2s ease-in;
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-10px);
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-10px);
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
    transform: translateX(0%);
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 1.2s ease-in;
  animation: fadeInLeft 1.2s ease-in;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(-40%);
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    -webkit-transform: translateY(-50%);
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(-40%);
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    -webkit-transform: translateY(-50%);
    opacity: 1;
    transform: translateY(-50%);
  }
}

.slideUp {
  -webkit-animation: slideUp 1.2s ease-in;
  animation: slideUp 1.2s ease-in;
}

.fade-in {
  -webkit-transform: translate(0, 10px);
  -webkit-transition: all 500ms;
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 500ms;
}

.fade-in-left {
  -webkit-transform: translate(-10px, 0);
  -webkit-transition: all 500ms;
  opacity: 0;
  transform: translate(-10px, 0);
  transition: all 500ms;
}

.fade-in-right {
  -webkit-transform: translate(10px, 0);
  -webkit-transition: all 500ms;
  opacity: 0;
  transform: translate(10px, 0);
  transition: all 500ms;
}

.scroll-in {
  -webkit-transform: translate(0, 0);
  opacity: 1;
  transform: translate(0, 0);
}

#drawer-checkbox {
  display: none;
}

#drawer-icon {
  cursor: pointer;
  display: inline-block;
  height: 16vw;
  position: relative;
  top: 1vw;
  width: 16vw;
  z-index: 41;
}

#drawer-icon span {
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease-in-out;
  background: #c88d95;
  border-radius: 2px;
  content: "";
  cursor: pointer;
  display: block;
  height: 1.07vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  width: 8vw;
}

#drawer-icon span:before, #drawer-icon span:after {
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease-in-out;
  background: #c88d95;
  border-radius: 2px;
  content: "";
  cursor: pointer;
  display: block;
  height: 1.07vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  width: 8vw;
}

#drawer-icon span:before {
  top: 2.9vw;
}

#drawer-icon span:after {
  top: -1.7vw;
}

#drawer-content {
  -webkit-transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  background: #fff;
  height: 100%;
  overflow: auto;
  padding: 21.33% 8% 0 8%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out 0s;
  width: 60%;
  z-index: 40;
}

#drawer-close {
  -webkit-transition: all 0.3s ease-in-out 0s;
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out 0s;
  width: 100%;
  z-index: 39;
}

.drawer-wrapper {
  display: none;
}

@media all and (max-width: 750px) {
  .drawer-wrapper {
    display: block;
  }
}

.drawer-ul li {
  border-bottom: 1px solid #707070;
  padding: 5% 0;
}

.drawer-ul a {
  font-family: times, sans-serif;
  font-weight: bold;
}

#drawer-checkbox:checked ~ #drawer-icon span {
  background: rgba(51, 51, 51, 0);
}

#drawer-checkbox:checked ~ #drawer-icon span::before,
#drawer-checkbox:checked ~ #drawer-icon span::after {
  background: #c88d95;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  width: 100%;
}

#drawer-checkbox:checked ~ #drawer-icon span::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#drawer-checkbox:checked ~ #drawer-icon span::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#drawer-checkbox:checked ~ #drawer-content {
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(0);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
  transform: translateX(0);
}

#drawer-checkbox:checked ~ #drawer-close {
  display: block;
  opacity: 0.3;
}

.footer {
  background: #f4f4f4;
  margin-top: 100px;
  padding: 50px 0 20px;
}

@media screen and (max-width: 750px) {
  .footer {
    margin-top: 18.7%;
    padding: 6.67% 0 4%;
  }
}

.footer-inner {
  margin: 0 au0to;
  max-width: calc(1180px + 200px);
  padding: 0 100px;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .footer-inner {
    padding: 0 17.3%;
  }
}

.footer-nav {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .footer-nav {
    display: block;
  }
}

.footer-list {
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
  .footer-list {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 8vw;
  }
}

.footer-list li {
  width: 50%;
}

@media screen and (max-width: 750px) {
  .footer-list li {
    width: calc(50% - 12vw / 2);
  }
}

.footer-list li:nth-child(n+3) {
  margin-top: 25px;
}

@media screen and (max-width: 750px) {
  .footer-list li a {
    font-size: 3.73vw;
  }
}

.footer-logo {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
  order: 2;
  width: 150px;
}

@media screen and (max-width: 750px) {
  .footer-logo {
    margin: 0 auto;
    width: 32vw;
  }
}

.footer .copyright {
  color: #797979;
  font-size: 1.2rem;
  margin-top: 25px;
  text-align: right;
}

@media screen and (max-width: 750px) {
  .footer .copyright {
    font-size: 2.67vw;
    text-align: center;
  }
}

header {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin: 0 auto;
  max-width: 1280px;
  /* 固定ヘッダーの場合
  position: fixed;
  width: 100%;
  z-index: 20; // ドロワーより下にする
  */
}

@media screen and (max-width: 750px) {
  header {
    height: 16vw;
  }
}

header .flexbox {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

/* jQuery カレントページナビゲーションとの組み合わせ

#gNav a.current{
  text-decoration: underline;
}

*/
.reserv-btn {
  margin-left: auto;
}

.reserv-btn a {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background: #c88d95;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  height: 60px;
  justify-content: center;
  width: 250px;
}

@media screen and (max-width: 750px) {
  .reserv-btn a {
    font-size: 4.27vw;
    height: 16vw;
    width: 41.9vw;
  }
}

.top {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  width: 100%;
}

.top-inner {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(1180px + 100px);
  padding: 0 50px;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .top-inner {
    padding: 0 4%;
  }
}

@media screen and (max-width: 750px) {
  .top-inner {
    padding: 0;
  }
}

.top-nav {
  background: #f4f4f4;
  left: 0;
  margin-top: 10px;
  padding: 60px 34px 60px 70px;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .top-nav {
    padding: 4.69% 2.66% 4.69% 5.47%;
  }
}

@media screen and (max-width: 750px) {
  .top-nav {
    display: none;
  }
}

.top-nav a {
  font-family: times, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .top-nav a {
    font-size: 1.56vw;
  }
}

.top-list li:not(:first-child) {
  margin-top: 19.7%;
}

.top-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39.4%;
}

@media screen and (max-width: 750px) {
  .top-sns {
    margin-top: 18%;
  }
}

.top-sns li:not(:first-child) {
  margin-left: 19.8%;
}

.top-img {
  margin-left: 1.8%;
  position: relative;
}

@media screen and (max-width: 750px) {
  .top-img {
    margin-left: 0;
  }
}

@media screen and (max-width: 750px) {
  .top-logo {
    display: none;
  }
}

.top-logo_sp {
  display: none;
}

@media screen and (max-width: 750px) {
  .top-logo_sp {
    bottom: 0;
    display: block;
    position: absolute;
    right: 0;
    width: 33.33vw;
  }
}

.main {
  margin-top: 130px;
}

@media screen and (max-width: 750px) {
  .main {
    margin-top: 21.4%;
  }
}

.main-content {
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-content._even {
  margin-top: 130px;
}

@media screen and (max-width: 750px) {
  .main-content._even {
    margin-top: 21.4%;
  }
}

.main-txt {
  width: calc(52% - 10.17% / 2);
}

@media screen and (max-width: 750px) {
  .main-txt {
    width: 100%;
  }
}

.main-txt._even {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
  order: 2;
}

@media screen and (max-width: 750px) {
  .main-txt._even {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

.main-txt p {
  font-size: 1.8rem;
  line-height: 2.44;
  margin-top: 35px;
}

@media screen and (max-width: 750px) {
  .main-txt p {
    font-size: 4.27vw;
    margin-top: 7.25%;
  }
}

.main-txt p._odd {
  text-align: right;
}

@media all and (max-width: 1028px) {
  .main-txt p._odd {
    text-align: left;
  }
}

.main-img {
  width: calc(48% - 10.17% / 2);
}

.main-img._even {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media screen and (max-width: 750px) {
  .main-img._even {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}

@media screen and (max-width: 750px) {
  .main-img {
    margin-top: 11.6%;
    width: 100%;
  }
}

.ttl {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ttl-line {
  background: #c88d95;
  height: 3px;
  max-width: 317px;
  width: 24.8vw;
}

@media screen and (max-width: 750px) {
  .ttl-line {
    width: 41.33vw;
  }
}

.ttl-line._odd {
  margin-right: 30px;
}

@media screen and (max-width: 750px) {
  .ttl-line._odd {
    margin-right: 8vw;
  }
}

.ttl-line._even {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
  margin-left: 30px;
  order: 2;
}

@media screen and (max-width: 750px) {
  .ttl-line._even {
    margin-left: 8vw;
  }
}

.ttl h2 {
  font-family: times, sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .ttl h2 {
    font-size: 7.47vw;
  }
}

.course {
  margin-top: 130px;
}

@media screen and (max-width: 750px) {
  .course {
    margin-top: 21.4%;
  }
}

.course-content-wrapper {
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-content {
  width: calc(52% - 10.17% / 2);
}

@media screen and (max-width: 768px) {
  .course-content {
    width: calc(52% - 5% / 2);
  }
}

@media screen and (max-width: 750px) {
  .course-content {
    width: 100%;
  }
}

.course .ttl-line {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.course h2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
  margin-left: 30px;
  order: 2;
}

@media screen and (max-width: 750px) {
  .course h2 {
    margin-left: 8vw;
  }
}

.course-dl {
  margin-top: 50px;
}

@media screen and (max-width: 750px) {
  .course-dl {
    margin-top: 14.5%;
  }
}

.course-list {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  border-bottom: 1px solid #8b8b8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 7px;
}

.course-img-wrapper {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(48% - 10.17% / 2);
}

@media screen and (max-width: 768px) {
  .course-img-wrapper {
    width: calc(48% - 5% / 2);
  }
}

@media screen and (max-width: 750px) {
  .course-img-wrapper {
    margin-top: 24.6%;
    width: 100%;
  }
}

.course-img._cimg02 {
  -webkit-transform: translateY(-25px);
  margin-left: 6.9%;
  transform: translateY(-25px);
}

@media screen and (max-width: 750px) {
  .course-img._cimg02 {
    margin-left: 3.65%;
  }
}

.course-btn {
  margin: 11.6% auto;
}

.course-btn a {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background: #c88d95;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .course-btn a {
    font-size: 4.27vw;
    height: 16vw;
    width: 49.9vw;
  }
}

.course-btm {
  -ms-flex-align: center;
  -ms-flex-pack: end;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin-top: 38px;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .course-btm {
    display: none;
  }
}

.course-btm a {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background: #c88d95;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 224px;
}

.course-line {
  background: #c88d95;
  height: 3px;
  max-width: 670px;
  width: 56.8vw;
}

/*# sourceMappingURL=sourcemaps/style.css.map */
